html{
    background:#C3DEE9;
    border:0;
    margin: 0;
    padding: 0;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size:50px;
    font-style:oblique;
    outline:10px solid white;
    
}

.LOR{
    border:20px solid #555;
    width: 50%;
    margin-left: 20vw;
    margin-right: auto;
    box-shadow: 10px  5px 15px 2px black,-10px -5px 20px -3px black;
}
.legenda{
    margin-top:1em;
    text-align: center;
    font-weight:bold ;
    font-size: 12px;
}

.description{
    text-align: center;
    border:5px solid blue; 
    box-shadow: 10px  5px 15px 2px black;
    margin-top:10px;
    padding:20px;
    border-radius:5px 5px 5px 5px;
    background-color:#007FFF;
    color:white;
    font-size: 20px;
}

.subtitleH{
    text-transform: uppercase;
    text-decoration:  underline overline dashed red;
    font-size:3em;
}

.listaUL{
    text-align:left;
    list-style-type: square;
    font-size: 25px;
    border:5px solid blue; 
    box-shadow: 10px  5px 15px 2px black;
    background-color:#87CEFA;
    color:black;
}

.subtitleT{
    text-transform: uppercase;
    text-decoration:  underline overline dashed red;
    font-size:3em;
}

.listaOL{
    list-style-type:upper-roman;
    font-size: 25px;
    border:5px solid blue; 
    box-shadow: 10px  5px 15px 2px black;
    background-color:#6495ED;
    color:white;
}

.subtitleFooter{
    text-transform: uppercase;
}
.linkSocial{
    color:white;
    line-height:30px;
    padding: 30px;
    font-size:20px;
    cursor:pointer;
    transition: .2s;
}

.subtitleFooter2{
    text-transform: uppercase;
    
}

.linkTrab{
    padding:30px;
    line-height:30px;
    color:white;
    cursor:pointer;
    font-size:20px;
    transition: .2s;
}


footer{
    padding:20px;
    background-color: #353839;
        
    box-sizing: content-box;
    width: 96.6vw;
}

a:hover {
    color:hotpink;
    text-decoration:underline;
    font-size:  25px;
}
a:focus {
    color:hotpink;
    text-decoration:underline;
}

