html{
    background:#B7FFBF;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size:50px;
    text-shadow:  4px 3px #33A532;
}

.description{
    text-align: center;
    box-sizing: content-box;
    border: 5px solid green;
    border-radius:6em 6em ;
    margin-left: 20vw;
    width: auto;
    margin-right: 20vw;
    color: #597D35;
    font-weight: bolder;
    font-style: oblique;
    background: #AEF359;
    font-size: 1.3em;
}

.lobos{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left:33%;
    border:20px solid #555;
    border-radius: 7px 0px 10px 0px;
    box-shadow: 10px  5px 15px 2px black,-10px -5px 20px -3px black
}

h2{
    text-align: center;
    text-transform: uppercase;
    margin-left: 5vw;
    text-decoration: underline;
}

.links{
    margin-top:3vh;
    margin-bottom:0vh;
    margin-left: 46vw;
    margin-right: 47vw;
    padding-left: 5vw;
    padding-right: 7vw;
    list-style-type: georgian;
    line-height:2em;
    font-size:1.3em ;
    cursor: pointer;
    border:5px  dotted lightblue;
    box-sizing: content-box;
    background:#33A532;
    transition: .2s;
}

a:hover{
    color:hotpink;
    text-transform: uppercase;    
    text-decoration:underline ;
    font-size:  25px;
}
a:focus {
    color:hotpink;
    text-decoration:underline ;
}

.slogan{
    margin-top:0;
    text-align:center;
    color:green;
    font-weight: bold;
    border: 2px solid ;
    background:aqua;
    margin-left:40vw ;
    margin-right:40vw;
    padding:1%;
    font-size: 20px;
    transition: .5s;
}
.slogan:hover{
    font-size: 25px;
    color:white; 
    background: tomato ;

}
.mapa{
    height:40vh;
    width:40vw;
    margin-left: 30vw;
    border:3px dotted white;
}