html{
    background:#C3DEE9;
    border:0;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-style: oblique;
    outline:10px solid white;
}

.formulario{
    margin-top:30px ;
    margin-bottom:30px ;
    padding: 30px;
    border:5px solid blue; 
    box-shadow: 10px  5px 15px 2px black;
    border-radius:5px 5px 5px 5px;
    background-color:#007FFF;
    color:white;
    box-sizing: border-box;
    width:max-content;
    margin-left: 40vw;
}

.nome,.emaillabel{
    text-decoration: underline;
    padding:17px;
    font-size:30px;
}
.input{
    border:3px solid black;
    font-size: 25px;
}
.numeroT{
    text-decoration: underline;
    font-size:30px;
    padding:3px;
}

#mensagem{
    padding:15px;
    border:4px solid black;
    font-size: 20px;
}
.botao{
   font-size:25px;
   margin-left:18vw;
   padding:5px;
} 
input[type=submit] {
    border-radius: 5px 5px 5px 5px;
    border: 3px solid #333;
    background-color: gray;
    color: #fff;
    cursor: pointer;
    transition: .3s;
  }
input[type=submit]:hover{
    font-size:30px; 
    color:orange;
}

.linkMinhaPag{
    cursor:pointer;
    transition: .1s;
    border:3px solid;
    padding:1vw;
    background-color:#87CEFA ;
    border-radius:5px 5px 5px 5px;
    margin-left: 44vw;
}

.linkMinhaPag:hover{
    color:peachpuff;
    background-color:palevioletred;
    text-decoration:underline;
    font-size:  25px;
}

h4{
    text-transform: uppercase;
    color: #999;
    text-align: center;
}

.linkFooter{
    cursor:pointer;
    transition: .1s;
    font-size:20px;
    margin-left:47vw;
    color: white;
    line-height: 30px;
}

footer a:hover {
    color:hotpink;
    text-decoration:underline;
    font-size:  25px;
}
footer a:focus {
    color:hotpink;
    text-decoration:underline;
}


footer{
    margin-top: 10vh;
    padding:20px;
    background-color: #353839;
    color: #999;
    box-sizing: content-box;
    width: 96.6vw;
}

